*{
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
}
.container{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.205);
    padding-bottom: 2%;
}
.content{
    width: 1440px;
}
header{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    align-items: center;
}
.headerUp{
    display: flex;
    width: 1440px;
    justify-content: space-between;
    align-items: center;
}

.logo, .like, .city, .search, .user{
    display: flex;
    align-items: center;
}
#inputChange{
    width: 450px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    background-image: url(img/search.png);
    background-position: left;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.116);
    border: 0px;
    outline: none;
}
#logoCity{
    width: 30px;
}
.imgMenuHeaderUp{
    width: 30px;
}
.headerDown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2%;
}
.imgMenu{
   width: 30px;
}
.navbar{
    width: 90%;
    display: flex; 
}
.navbar li{
    text-align: center; 
    list-style: none;  
    padding: 0;
    padding-bottom: 20px;
    margin-left: 1%;
    width: max-content;
}
.navbar li a{
    text-decoration: none; 
    color: black;
    padding: 5px;
    font-size: 15px;
}
.navbar li a:hover{
    background-color: rgba(128, 128, 128, 0.274);
    border-radius: 25px;
}
.arrowLeft{
    position: absolute;
    top: 92px;
    left:150px;
    transform: rotate(180deg);
}
.arrowRight{
    position: absolute;
    right:150px;
    top: 92px;
}

.shown{
    display: block;
}
.flex{
    display: flex;
}
.hidden{
    display: none;
}
.foundSities{
    position: absolute;
    background: #fff;
    width: max-content;
    height: 300px;
    color: #000;
    top: 105px;
    left: 400px;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0px 7px 38px 0px rgba(44, 62, 106, 0.25);
    font-size: 0.9rem;
    transition: all .3s ease;
    transform: translateY(-50px);
    overflow-y: scroll;
}
#searchSity{
    width: 260px;
    border-radius: 10px;
    outline: none;
    width: 300px;
    padding: 1rem 1.2rem;
    border-radius: 50px;
    border: 2px solid transparent;
    background: #f1f1f1;
    outline-color: #ABC8EA;
    margin-top: 15px;
}
.searchResults div{
   display: flex;
   flex-direction: column;
   padding: 5px;
}
.searchResults div span{
    margin-left: 10px;
}
mark{
    background-color: transparent;
    color: blue;
    font-weight: bolder;
}
.navigation{
    width: 100%;
    margin-top: 1%;
}
.navigation span{
    margin-left: 1%;
}
.navigation img{
    margin-left: 1%;

}
.imgCard{
    width: 100%;
    margin-top: 2%;
}
.imgCard img{
    width: 100%;
}
.cardContainer{
    width: 100%;
    border-radius: 20px;
    background-color: white;
}
.contetnCardUp{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contetnCardUpP{
    width: 70%;
    text-align: start;
}
.contetnCardUpImg{
    display: flex;
    align-items: center;
}
#Name{
    font-size: 25px;
    font-weight: bold;
}
#btnLike{
    width: 170px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    background-image: url(img/like.png);
    background-position: left;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.116);
    border: 0px;
    outline: none;
}
.raiting{
    font-weight: bold;
}
.contetnCardDown{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.contetnCardDownContent{
    display: flex;
    margin-left: 3%;
    margin-top: 1%;
}

.info{
    width: 100%;
    display: flex;
    margin-top: 2%;
}
.infoLeft{
    width: 30%;
}
.infoRight{
    width: 69%;
}
.infoRight{
    width: 100% ;
    display: flex;
}
.containers{
    width: 100%;
    display: flex;
    margin-top: 2%;
}
.contetnCardFooter{
    width: 90%;
}
.contetnCardFooter div{
    width: 60%;
    display: flex;
    margin-left: 50%;
    padding-bottom: 1%;
}
.contetnCardFooter p{
    margin-left: 1%;
}
#error{
    color: blue;
    font-weight: bold;
}
.containerOne, .ContainerTwo{
    width: 40%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.frame{
    display: flex;
    flex-direction: column;
}
.frameName{
    color: blue;
    font-size: 25px;
    font-weight: bold;
}
.infoText{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}
.contact{
    width: 90%;
    text-align: start;
}

.btnPrice{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
.btnPrice button{
    width: 50px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: gray;
}
@media (min-width: 1199px) and (max-width: 1440px){
    .content{
        width: 1024px;
        padding: 50px;
    }
    .headerUp{
        width: 1024px;
    }
    .navbar li a{
        font-size: 11px;
    }
    .arrowLeft{
        position: absolute;
        left:80px;
        transform: rotate(180deg);
        top: 80px;
    }
    .arrowRight{
        position: absolute;
        right:80px;
        top: 80px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .content{
        width: 992px;
        padding: 50px;
    }
    .headerUp{
        width: 992px;
    }
    .navbar li a{
        font-size: 10px;
    }
    .arrowLeft{
        position: absolute;
        left:50px;
        transform: rotate(180deg);
        top: 80px;
    }
    .arrowRight{
        position: absolute;
        right:50px;
        top: 80px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .navbar{
        display: none;
    }
    .content{
        width: 768px;
        padding: 50px;
    }
    #Name{
        font-size: 13px;
        margin-left: 2%;
    }
    .textGray{
        font-size: 10px;
    }
    .contetnCardFooter p{
        font-size: 10px;
    }
    #btnLike{
        width: 120px;
        height: 30px;
        font-size: 10px;
    }
    .navigation{
        margin-top: 0%;
    }
    .contact span{
        font-size: 11px;
    }
    .btnPrice button{
        width: 40px;
        height: 20px;
        font-size: 10px;
    }
    .frame span{
        font-size: 11PX;
    }
    .frameName{
        font-size: 15px;
    }
    .arrow img{
        display: none;
    }
    .headerUp{
        width: 768px;
    }
    .arrowRight{
        display: none;
    }
    #inputChange{
        display: none;
    }
    .imgMenu{
        display: flex;
        justify-content: flex-start;
    }
}
@media (max-width: 767px){
    .content{
        width: 100%;
        padding: 50px;
    }
    .headerUp{
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    .headerDown{
       display: none;
    }
    .arrowRight{
        display: none;
    }
    #inputChange{
        display: none;
    }
    #Name{
        font-size: 10px;
        margin-left: 2%;
    }
    .textGray{
        font-size: 9px;
    }
    .contetnCardFooter p{
        font-size: 10px;
    }
    #btnLike{
        display: none;
    }
    .frame span{
        font-size: 10PX;
    }
    .frameName{
        font-size: 12px;
    }
    #reset, #error{
        font-size: 7px;
    }
    .textGray{
       font-size: 10px;
    }
    .navigation{
        display: none;
    }
    .circle{
        display: none;
    }
    .user{
        display: none;
    }
    .city{
        display: none;
    }
    .cardContainer{
        width: 100%;
        border-radius: 0px;
    }
    .content{
        width: 100%;
        padding: 0px;
    }
    .contetnCardDownContent{
        display: flex;
        flex-direction: column;
    }
    .raitingWithStar{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .conteinerForText{
        width: 100%;
        text-align: start;
    }
    .infoLeft{
        display: none;
    }
    .infoRight{
        height: 100px;
    }
    .imgMenuHeaderUp{
        display: flex;
    }

}